<h1 style="text-align: center; margin: 30px 30px">Job Lists</h1>
<div class="projects-container">
  <div class="project-card" *ngFor="let project of projects">
    <img
      [src]="'http://localhost:8090/' + project.image"
      alt="{{ project.name }}"
    />
    <h3>{{ project.name }}</h3>
    <p>{{ project.description }}</p>
    <p><strong>Status:</strong> {{ project.status }}</p>
    <p><strong>Start Date:</strong> {{ project.startDate }}</p>
    <p><strong>End Date:</strong> {{ project.endDate }}</p>
    <p><strong>Positions Left:</strong> {{ project.positionsLeft }}</p>
  </div>
</div>
