/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "SF-Pro";
  src: url("./assets/fonts/SF-Pro.ttf") format("truetype");
}
html,
body {
  height: 100%;
}
body {
  font-family: "SF-Pro", sans-serif;
  background: linear-gradient(to bottom, #81b5d6, #137393);
  background-attachment: fixed;
}
